
@{
    ViewBag.Title = "GetAmazonGiftCardPage";
}

<h2>Gift Card</h2>
<br />
<h4>U Do U. We See U. We appreciate U </h4>
</br>
Dear Fai..
<br />
</br>
We saw your dedication to the UltiDoge Project.
</br>
</br>
We appreciate U
</br>
</br>
We want to reward U with this <a href="http://www.amazon.com">Amazon</a><sup>&reg;</sup> gift Card

<br />
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to redeem Gift Card</a>
<br />
<br />

