@model UltiDogeWebServer.Models.DealsModel

@{
    ViewBag.Title = "Charity";
}

<h2>Donate</h2>
<br />
<h4>Your Donation can change a life..Your donation can bring a smile </h4>
<br />
We at Ultimate Software were saddened by the lives affected by Hurricane Maria. People of Peurto Rico are still looking for help.
<br />
<br />
Ultimate Software is proud to partner with <a href="http://www.redcorss.org">American Red Cross</a> to supply essentials to people of Peurto Rico.
<p/>Ulitimate Software will match your donation 1:1.
<br />
<br />
<h4>
    U can make a difference. Together We can make a difference!
</h4>
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to donate</a>
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to learn more</a>
<br />
<br />


