@model UltiDogeWebServer.Models.DealsModel

@{
    ViewBag.Title = "Employee Perks";
}

<h2>Employee Perks</h2>
<br />
<h4>Employees of Ultimate Software get upto 10%* discount for everyday shopping in Amazon<sup>&reg;</sup>. </h4>
<br />
<a href="www.amazon.com">Amazon</a href> is a premier online retailer, where you can buy everything from <i>pens</i> to <i>drones</i>...<i>Tide Pods</i> to <i>Fine Candy</i>.
    <br />
    <br />
    Ultimate Software is proud to partner with Amazon to bring you this discount.
    <br />
    <br />
    <a href="www.ultimatesoftware.com">Click Here to use</a>
    <br />
    <br />
    <a href="www.ultimatesoftware.com">Click Here to learn more</a>
    <br />
    <br />
    <small>*some restrictions apply</small>

