
@{
    ViewBag.Title = "GetHertzPage";
}

<h2>Employee Perks</h2>
<br />
<h4>Employees of Ultimate Software get a free day for a weekly rental in Hertz<sup>&reg;</sup>. </h4>
<br />
<a href="www.hertz.com">Hertz</a> has rental car for your family and escape needs
<br />
<br />
    Ultimate Software is proud to partner with Hertz to bring you this discount.
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to use</a>
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to learn more</a>
<br />
<br />
<small>*some restrictions apply</small>

