@model UltiDogeWebServer.Models.DealsModel

@{
    ViewBag.Title = "Employee Gifts";
}

<h2>Gift Card</h2>
<br />
<h4>U Do U. We See U. We appreciate U </h4>
</br>
Dear Ramesh Chander..
<br/>
</br>
We saw your dedication to the UltiDoge Project. 
</br>
</br>
We appreciate U
</br>
</br>
We want to reward U with this <a href="http://www.starbucks.com">Starbucks</a><sup>&reg;</sup> gift Card
    <br />
    </br>
    We hope the Java will fuel U to spend more sleepless nights working on UltiDoge. J.K*
    <br />
    <br />
    <br />
    </br>
    <small>*not</small>
    <br />
    <br />
    <a href="www.ultimatesoftware.com">Click Here to redeem Gift Card</a>
    <br />
    <br />

