
@{
    ViewBag.Title = "GetTeslaCharityPage";
    Layout = "~/Views/Shared/_TeslaLayoutPage.cshtml";
}
<div style="float:left">
    <h2>Donate</h2>
    <br />
    <h4>Your Donation can change a life..Your donation can feed a soul </h4>
    <br />
    Tesla is proud to partner with <a href="http://www.redcorss.org">Feeding America</a> to supply food for the poor.
    <p />Tesla will match your donation 1:1.
    <br />
    <br />
    <h4>
        U can make a difference. Elon Musk can help!
    </h4>
    <br />
    <br />
    <a href="www.ultimatesoftware.com">Click Here to donate</a>
    <br />
    <br />
    <a href="www.ultimatesoftware.com">Click Here to learn more</a>
    <br />
    <br />
</div>
<div>
    <img src="http://iventurer.co/wp-content/uploads/2015/09/Tesla_Logo.jpg" />
</div>

