
@{
    ViewBag.Title = "GetTeslaDeltaPage";
    Layout = "~/Views/Shared/_TeslaLayoutPage.cshtml";
}

<h2>Employee Perks</h2>
<br />
<h4>Employees of Tesla get upto 15%* discount for flying with Delta<sup>&reg;</sup> and double miles. </h4>
<br />
<a href="www.amazon.com">Delta</a> is a premier aitline, flyint around the world 
<br />
<br />
    Tesla is proud to partner with Delta to bring you this discount.
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to use</a>
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to learn more</a>
<br />
<br />
<small>*some restrictions apply</small>

