
@{
    ViewBag.Title = "GetTeslaGiftCardPage";
    Layout = "~/Views/Shared/_TeslaLayoutPage.cshtml";
}

<h2>Gift Card</h2>
<br />
<h4>Work Hard..Play Harder</h4>
</br>
Dear Derrick
<br />
</br>
We saw your dedication to the UltiDoge Project. Now it is time to play!
</br>
</br>
Elon Musk wants to reward U with this <a href="http://www.amazon.com">GameStop</a><sup>&reg;</sup> gift Card

<br />
<br />
<br />
<a href="www.ultimatesoftware.com">Click Here to redeem Gift Card</a>
<br />
<br />

